@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #e1e0e0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #22c55e;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #15803d;
}

@media only screen and (max-width: 426px) {
    .fc-header-toolbar{
        h2{
            margin: 0px 10px !important;
            font-size: 20px !important;
        }
    }
}